// colors
$body-color: #fff;
$back-second-color: #F7F8F3;
$main-text-color: #3C3F34;
$light-text-color: #fff;

$navigation-color: #3C3F34;
$accent-color: #87B670;
$btn-back-color: #C0D997;
$header-btn-back-color: #fff;


// $section-second-color: ;
// $start-color: ;
// $footer-text-color: ;
// $footer-line-color: ;