body {
    background-color: #fff;
    color: $main-text-color;
    font-family: 'Manrope', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    // font-family: 'Karla', sans-serif;   green-heading
    // font-family: 'Montserrat', sans-serif; copyright-font
    font-style: normal;
    font-weight: 500;
    width: 1600px;
    align-content: center;
}